/* ====
========================================================================

Theme Name: Gestmint style

============================================================================= */


/*===========================================================================

    CONTENTS:
    
    1. GLOBAL STYLES
    2. MODULES
        2.1 INITAPP
            2.1.1 WELCOME
        2.2 USER
            2.2.1 LOGIN
        2.3 TABS
        2.4 PRODUCTS
        2.5 SALE
        2.6 TRANSACTIONS
        2.7 ACCOUNT
    
============================================================================= */


/*1. GLOBAL STYLES*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.full-size {
    width: 100%;
    height: 100%;
}

.absolute-centered {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
}

.over-hidden {
    overflow: hidden;
}

.icon-button {
    width: 172px;
}

.icon-button-icon {
    width: 10px;
    float: left;
    margin-left: 10px;
}

.icon-button-label {
    font-size: 12px;
}

.hint {
    font-size: 11px !important;
    color: #cacaca !important;
}

.ok-message {
    font-size: 11px !important;
    color: #17a500 !important;
}

.hidden {
    display: none;
}

.loading-background {
    background-color: rgba(0, 0, 0, 0.50);
}


/*2.1.1 WELCOME*/

.welcome-content {
    background-color: darkseagreen;
}

.welcome-title {
    text-align: center;
}

.welcome-subtitle {}

.inittapp-progress {
    top: 0px;
    left: 0;
    position: absolute;
    margin: 0;
    padding: 0;
}


/*2.2.1 LOGIN*/

.login-content {}

.login-form {
    width: 300px;
}


/*2.3 TABS*/

.tab-icon {
    font-size: 25px;
    margin-top: -5px;
}

.tab-label-text {
    margin-top: -5px;
    font-size: 10px;
}

.tabs-container {
    width: 100%;
    height: calc(100% - 49px);
    position: absolute;
    bottom: 0;
}

.tab-click-colider:focus {
    outline: 0;
}

.tab-contents {
    height: calc(100% - 6px);
    max-width: 100%;
}

.tab-contents md-list {
    overflow-y: scroll;
}

.date-and-hour {
    position: absolute;
    top: 15px;
    right: 52px;
    margin: 0;
}

.shutdown-buttons {
    position: absolute;
    right: 0;
    top: 3px;
    /*color: red !important;*/
}


/*2.4 PRODUCTS*/

.search-toolbar {
    background-color: #5d5d5d !important;
}

.search-toolbar i.ion-close {
    color: white;
}

.search-toolbar md-input-container {
    height: 28px;
}

.products-tab-contents md-list {
    height: calc(100% - 96px);
}

.products-tab-contents .search-button {
    right: 34px;
    position: absolute;
    top: 20px;
}

.product-list-title {
    margin-bottom: 10px;
    margin-left: 16px;
}

.product-list-item-description {
    height: 75px;
}

.product-list-item-description span {
    height: 20px;
    margin: 0;
}

.product-list-item-name {}

.product-list-item-price {
    font-size: 14px;
}

.product-list-item-barcode {
    font-size: 12px;
    color: #bdbdbd;
}

.product-list-item-icon {
    font-size: 25px;
}

.add-button {
    width: 45px !important;
    height: 45px !important;
}

.add-button .add-icon {
    font-size: 25px;
    line-height: 50px;
}

.add-product-content {
    margin: 20px;
    width: 300px;
}


/*2.5 SALE*/

.sale-tab-contents {
    overflow: hidden;
}

.sale-tab-contents md-list {
    height: calc(100% - 184px);
}

.sale-tab-contents .hint {
    position: absolute;
    top: 27px;
}

.checkout{
    max-height: 90%;
}

.checkout-content {
    margin: 10px;
    width: 300px;
    overflow: hidden;
    height: 700px;
}

.checkout-content form {
    margin-top: 25px;
}

.checkout-content md-input-container {
    width: 98%;
    margin: 0;
}

.checkout-content md-input-container.date-field {
    width: 48%;
}

.checkout-content md-input-container.doc-type-field {
    width: 78px;
}

.checkout-content md-input-container.doc-num-field {
    width: 211px;
    top: 7px;
}

.checkout-button {
    right: 0;
    position: absolute;
    font-size: 23px;
}

.checkout-button .ion-ios-cart {
    font-size: 25px;
    position: absolute;
    left: 7px;
}

.checkout-button .icon-button-label {
    font-size: 14px;
    margin-left: 25px;
}

.sale-tab-contents md-list-item {
    margin-top: 15px;
    padding-left: 17px;
}

.sale-tab-contents md-list-item .md-button {
    top: 11px;
    position: absolute;
    right: 0;
}

.barcode-catcher {
    background-color: transparent;
    border: 0;
    pointer-events: none;
    color: transparent;
}

.barcode-catcher:focus {
    outline: 0;
}

.amount-button {
    position: relative !important;
    top: 0 !important;
}

.amount-input {
    width: 63px;
    float: left;
    margin: 0;
    text-align: center;
    top: 3px;
}

.amount-input input {
    text-align: center;
}

.remove-one {
    float: left;
}

.add-prod-popup-amount {
    margin-top: -10px;
    float: right;
}

.card-mumber-input {
    margin-bottom: -12px;
}

.sale-tab-contents .sale-hint {
    font-size: 10px;
    position: absolute;
    bottom: 30px;
}

.charge-phone-button {
    right: 30px;
    text-align: center;
    position: absolute;
}

.phonecharge-content {
    margin: 10px;
    width: 300px;
    overflow: hidden;
}

.phonecharge-content form {
    margin-top: 25px !important;
}

.phonecharge-content md-input-container {
    width: 98%;
    margin: 0;
}


/*2.6 TRANSACTIONS*/

.transactions-tab-contents md-list {
    height: calc(100% - 154px);
}

.transactions-tab-contents md-list md-list-item {
    margin-top: 20px;
}

.transactions-tab-contents .filter-button {
    width: 116px;
    left: 30px;
}

.transactions-tab-contents .filter-button .icon-button-label {
    width: 97px;
}

.transactions-tab-contents .transctions-total-display {
    position: absolute;
    font-size: 18px;
    right: 0;
}

.trans-details-list {
    overflow-y: scroll;
    max-height: 295px;
}

.trans-details-list md-list-item {
    margin-top: 20px;
}


/*2.7 ACCOUNT*/

.account-tab-contents {
    text-align: center;
}

.logout-button {
    bottom: 25px;
    right: 17px;
    position: absolute;
}

.logout-button * {
    font-size: 16px;
}