<md-dialog aria-label="Agregar Producto"  ng-cloak>
    <form name="addProductForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="ion-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="over-hidden add-product-content">
            <div layout-gt-sm="row" ng-if="!editing">
                <md-checkbox md-no-ink ng-model="addMultipleProducts" class="md-primary">
                    Agregar múltiples productos 
                </md-checkbox>
            </div>
            <div layout-gt-sm="row">
                <div class="hint" ng-if="barCodeFocus">*Puedes escanear el codigo de tu producto.</div>
            </div>
            <div layout-gt-sm="row">
               <md-input-container class="md-block" flex-gt-sm="">
                    <label>Nombre</label>
                    <input name="name" ng-model="newProduct.name" maxlength="50" 
                           ng-focus="okMessageActivated=false;" ng-virtual-keyboard>
                </md-input-container>  
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Codigo de barras</label>
                    <input required="true" name="barCode" ng-model="newProduct.barcode" maxlength="50"
                           ng-focus="barCodeFocus=true; okMessageActivated=false;" ng-blur="barCodeFocus=false;"
                           ng-virtual-keyboard="{kt: 'numeric_int', size:5}">
                </md-input-container>           
            </div>
            <div layout-gt-sm="row">
                 <md-input-container class="md-block" flex-gt-sm="">
                    <label>Precio</label>
                    <input required="true" name="price" ng-model="newProduct.price" maxlength="50"
                           ng-virtual-keyboard="{kt: 'numeric', size:5}"
                           ng-focus="okMessageActivated=false;">
                </md-input-container>  
            </div>
            <md-input-container class="md-block">
                <label>Descripción</label>
                <input name="decription" ng-model="newProduct.detail" maxlength="40" ng-virtual-keyboard>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <div class="ok-message" ng-if="okMessageActivated">Producto agregado correctamente!</div>
            <span flex></span>
            <md-button class="md-fab md-primary add-button"
                       ng-disabled="!addProductForm.$valid || !addProductForm.$dirty"
                       ng-click="processProduct()">
                 <i class="ion-plus add-icon" ng-if="!editing"></i>
                 <i class="ion-checkmark add-icon" ng-if="editing"></i>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>