<md-dialog aria-label="Agregar Producto"  ng-cloak>
    <form name="addProductToCartForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{product.name ? product.name : 'Agregar Producto Generico' }} {{product.detail ? '('+product.detail+')' : ''}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="ion-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="over-hidden add-product-content">
            <div layout-gt-sm="row" ng-class="{hidden: !product.name}">
               <md-input-container class="md-block" flex-gt-sm="">
                    <label>Nombre</label>
                    <input name="name" ng-model="product.name" ng-disabled="true">
                </md-input-container>  
            </div>
            <div layout-gt-sm="row" ng-class="{hidden: !product.detail}">
               <md-input-container class="md-block" flex-gt-sm="">
                    <label>Descripción</label>
                    <input name="detail" ng-model="product.detail" ng-disabled="true">
                </md-input-container>  
            </div>
            <div layout-gt-sm="row" ng-class="{hidden: !product.barcode}">
                 <md-input-container class="md-block" flex-gt-sm="">
                    <label>Código de barras</label>
                    <input name="barcode" ng-model="product.barcode" ng-disabled="true">
                </md-input-container>  
            </div>
            <div layout-gt-sm="row">
                 <md-input-container class="md-block" flex-gt-sm="">
                    <label>Precio</label>
                    <input required="true" name="price" ng-model="product.price" maxlength="50"
                           ng-virtual-keyboard="{kt: 'numeric', size:5}">
                </md-input-container>  
            </div>
            <div layout-gt-sm="row">
                Cantidad: 
                <div class="add-prod-popup-amount">
                    <md-button class="md-icon-button md-accent amount-button remove-one" 
                               aria-label="Remove One" 
                               ng-click="removeOne()"
                               ng-disabled="product.amount == 1">
                        <i class="ion-minus"></i>
                    </md-button>
                    <md-input-container class="md-block md-accent amount-input">
                        <input ng-model="product.amount" maxlength="50"
                               ng-change="onAmountChange()"
                               ng-virtual-keyboard="{kt: 'numeric_int', size:5}">
                    </md-input-container> 
                    <md-button class="md-icon-button md-accent amount-button add-one" 
                               aria-label="Add One" 
                               ng-click="addOne()">
                        <i class="ion-plus"></i>
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-fab md-primary add-button"
                       ng-disabled="!addProductToCartForm.$valid"
                       ng-click="ok()">
                <i class="ion-plus add-icon"></i>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>