<md-dialog class="checkout" aria-label="Checkout"  ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Datos de la tarjeta</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="ion-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="checkout-content">
        <div layout-gt-sm="row">
            <div class="hint">*Pasa la tarjeta por el lector magnetico.</div>
        </div>
        <form id="pay" name="pay">
             <div layout-gt-sm="row">
                 <md-input-container class="md-block card-mumber-input" flex-gt-sm="">
                    <label>Número de tarjeta</label>
                    <input type="text"
                           id="cardNumber"
                           data-checkout="cardNumber"
                           required="true" 
                           name="cardnumber"
                           ng-model="card.number" 
                           focus-me="cardNumberFocus"
                           ng-focus="onCardNumberFocus()"
                           ng-keypress="cardNumberKeypress($event)"
                           ng-virtual-keyboard="{kt: 'numeric_int', size:5}"/>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="date-field" flex>
                    <label>Mes</label>
                    <input type="text" 
                           id="cardExpirationMonth" 
                           data-checkout="cardExpirationMonth"
                           required="true"
                           name="expmonth"
                           ng-model="card.month"
                           ng-disabled="!card.number"
                           ng-virtual-keyboard="{kt: 'numeric_int', size:5}"/>
                </md-input-container>
                <md-input-container class="date-field" flex>
                    <label>Año</label>
                    <input type="text" 
                           id="cardExpirationYear" 
                           data-checkout="cardExpirationYear"
                           required="true"
                           name="expyear"
                           ng-model="card.year"
                           ng-disabled="!card.number"
                           ng-virtual-keyboard="{kt: 'numeric_int', size:5}"/>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container>
                    <label>Nombre</label>
                    <input type="text" 
                           id="cardholderName" 
                           data-checkout="cardholderName"
                           required="true"
                           name="name"
                           ng-model="card.name"
                           ng-disabled="!card.number"
                           ng-virtual-keyboard/>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container>
                    <label>Código de seguridad</label>
                    <input type="text" 
                           id="securityCode" 
                           data-checkout="securityCode"
                           required="true" 
                           name="cardnumber" 
                           ng-model="card.seccode" 
                           ng-disabled="!card.number" 
                           maxlength="4"
                           focus-me="secCodFocus"
                           ng-virtual-keyboard="{kt: 'numeric_int', size:5}"/>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="doc-type-field" flex>
                    <select id="docType" 
                            data-checkout="docType"
                            name="doctype"
                            ng-model="card.docType" 
                            ng-disabled="!card.number">
                    </select>
                </md-input-container>
                <md-input-container class="doc-num-field">
                    <label>Número de documento</label>
                    <input type="text" 
                           id="docNumber" 
                           data-checkout="docNumber"
                           required="true" 
                           name="docnum" 
                           ng-model="card.docNumber" 
                           ng-disabled="!card.number"
                           ng-virtual-keyboard="{kt: 'numeric_int', size:5}"/>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                Cant. de cuotas: 
                <md-input-container class="installments-dropdown" flex>
                    <select ng-model="selectedInstallment"
                            id="installments" 
                            data-checkout="installments"
                            name="installments" 
                            ng-disabled="!card.number">
                            <option value="installment.recommended_message" ng-repeat="installment in installments">{{installment.recommended_message}}</option>
                    </select>
                </md-input-container>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-fab md-primary add-button"
                   ng-disabled="!pay.$valid"
                   ng-click="ok()">
            <i class="ion-checkmark add-icon"></i>
        </md-button>
    </md-dialog-actions>
    
</md-dialog>