<md-content layout-padding="" class="products-tab-contents tab-contents">
    
    <md-toolbar class="search-toolbar" ng-hide="!shearch.showSearch">
        <div class="md-toolbar-tools">
            <md-input-container md-theme="input" flex>
                <label>&nbsp;</label>
                <input ng-model="search.searchText" ng-change="search()" 
                       placeholder="Buscar producto por nombre o codigo de barra"
                       ng-virtual-keyboard="{relative: false, size:5}"
                       focus-me="shearch.showSearch">
            </md-input-container>
            <md-button class="md-icon-button" aria-label="CloseSearch" ng-click="finishSearch()">
                <i class="ion-close product-list-item-icon"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-button class="md-primary icon-button" ng-click="shwoAddProductPopup($event)" flex>
        <div class="icon-button-icon ion-plus"></div>
        <div class="icon-button-label">Cargar Producto</div>
    </md-button>
    <md-button class="md-icon-button search-button" aria-label="OpenSearch" ng-hide="shearch.showSearch" 
               ng-click="startSearch()">
        <i class="ion-search product-list-item-icon"></i>
    </md-button>
    <md-list class="md-dense">
        <div class="md-title product-list-title" class="md-no-sticky">Productos Cargados</div>
        <md-divider ></md-divider>
        <md-list-item class="noright" ng-repeat="product in products" ng-click="null">
            <div class="md-list-item-text flex product-list-item-description" layout="column">            
                <span class="product-list-item-name">
                    {{ product.name ? product.name : 'Sin Nombre' }} {{product.detail ? '('+product.detail+')' : ''}}
                </span>
                <span class="product-list-item-price">Precio: {{product.price | currency}}</span>
                <span class="product-list-item-barcode">Código de barras: {{ product.barcode }}</span>
            </div>
            <md-button class="md-icon-button md-accent" aria-label="Edit" ng-click="shwoAddProductPopup($event, product)">
                <i class="ion-edit product-list-item-icon"></i>
            </md-button>
            <md-button class="md-icon-button md-warn" aria-label="Remove" ng-click="shwoRemoveProductPopup($event, product)">
                <i class="ion-trash-b product-list-item-icon"></i>
            </md-button>
            <md-divider ></md-divider>
        </md-list-item>        
    </md-list>
</md-content>