<md-content layout-padding="" class="sale-tab-contents tab-contents">
    <md-button class="md-raised md-primary icon-button" ng-click="shwoAddProductToCartPopup($event)" flex>
        <div class="icon-button-icon ion-plus"></div>
        <div class="icon-button-label">Producto Genérico</div>
    </md-button>
    <md-button class="md-raised md-primary icon-button" ng-click="showPhoneChargePopup($event)" flex>
        <div class="icon-button-icon ion-android-phone-portrait"></div>
        <div class="icon-button-label">Carga Telefónica.</div>
    </md-button>
    <md-list class="md-dense">
        <div class="md-title product-list-title" class="md-no-sticky">Productos Agregados</div>
        <md-divider></md-divider>
        <md-list-item class="noright" ng-repeat="product in sale.products" ng-if="!product.deleted">
            <div class="md-list-item-text flex product-list-item-description" layout="column">
                <span class="product-list-item-name">
                    {{ product.name ? product.name : 'Sin Nombre' }} {{product.detail ? '('+product.detail+')' : ''}}
                </span>
                <span class="product-list-item-price">Precio: ${{product.price}}</span>
                <span class="product-list-item-barcode">Código de barras: {{ product.barcode ? product.barcode : '-'}}</span>
            </div>
            <div class="absolute-centered">
                <md-button class="md-icon-button md-accent amount-button remove-one" aria-label="Remove One" ng-click="removeOne(product)" ng-disabled="product.amount == 1">
                    <i class="ion-minus"></i>
                </md-button>
                <md-input-container class="md-block md-accent amount-input">
                    <input ng-model="product.amount" maxlength="50" ng-change="onAmountChange(product)" ng-virtual-keyboard="{kt: 'numeric_int', size:5}">
                </md-input-container>
                <md-button class="md-icon-button md-accent amount-button add-one" aria-label="Add One" ng-click="addOne(product)">
                    <i class="ion-plus"></i>
                </md-button>
            </div>
            <md-button class="md-icon-button md-warn" aria-label="Remove" ng-click="shwoRemoveProductPopup($event, product)">
                <i class="ion-trash-b product-list-item-icon"></i>
            </md-button>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <span class="sale-hint">*Podés escanear el codigo de tus productos para agregarlos a la lista!!</span>
    <md-button class="md-raised md-primary checkout-button" ng-disabled="sale.total == 0" ng-click="checkout($event)">
        <div class="icon-button-label"><span class="ion-ios-cart"></span> TOTAL: {{sale.total | currency}}</div>
    </md-button>
    <div class="barcode-catcher">
        <input class="barcode-catcher" ng-model="barcodeCatcherText" focus-me="barcodeCatcherFocus" ng-keypress="catchBarcode($event)">
    </div>
</md-content>