<md-dialog aria-label="Agregar Producto" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Detalle</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="ion-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="over-hidden add-product-content">
        <span class="md-title">{{transaction.date | date}}</span><br>
        <span class="md-subhead">TOTAL: {{transaction.total}}</span>
        <md-divider></md-divider><br>
        <span class="md-subhead" ng-if="transaction.type == 1">Carga telefónica</span>
        <md-list class="md-dense trans-details-list" ng-if="transaction.type == 0">
            <span class="md-subhead">Productos:</span>
            <md-list-item class="noright" ng-repeat="product in transaction.products">
                <div class="md-list-item-text flex product-list-item-description" layout="column">
                    <span class="product-list-item-name">
                        Nombre: {{ product.name ? product.name : 'Sin Nombre' }} {{product.detail ? '('+product.detail+')' : ''}}
                    </span>
                    <span class="product-list-item-price">Precio: {{product.price | currency}} (x{{product.amount}})</span>
                    <span class="product-list-item-barcode">Código de barras: {{ product.barcode }}</span>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-dialog-content>
</md-dialog>