<md-content layout-padding="" class="transactions-tab-contents tab-contents">
    <md-datepicker ng-model="filter.from" md-placeholder="Desde" md-open-on-focus></md-datepicker>
    <md-datepicker ng-model="filter.to" md-placeholder="Hasta" md-open-on-focus md-min-date="filter.from"></md-datepicker>
    <md-button class="md-raised md-primary icon-button filter-button" ng-click="filter()" flex>
        <div class="icon-button-icon ion-funnel"></div>
        <div class="icon-button-label">Filtrar</div>
    </md-button>
    <md-list class="md-dense">
        <span class="" ng-class="{hidden: (transactions && transactions.length > 0) }">No se encontraron transacciones entre las fechas elegidas.</span>
        <md-list-item class="noright" ng-repeat="transaction in transactions" ng-click="shwoTransactionDetail($event, transaction)">
            <div class="md-list-item-text flex product-list-item-description" layout="column">
                <span class="product-list-item-name">
                    Fecha: {{transaction.date | date}}
                </span>
                <span class="product-list-item-price">Total: {{ transaction.total | currency }}</span>
                <span class="product-list-item-barcode">{{transaction.type == 0 ? 'Catidad de productos:' : 'Carga telefónica'}} {{transaction.products.length}}</span>
            </div>
            <md-button class="md-icon-button md-primary" aria-label="Detail" ng-click="shwoTransactionDetail($event, transaction)">
                <i class="ion-information-circled product-list-item-icon"></i>
            </md-button>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <h3 class="icon-button-label transctions-total-display"><span class="ion-ios-cart"></span> TOTAL: {{total | currency}}</h3>
</md-content>