<md-content layout-padding="" class="login-content full-size">
    <md-progress-linear class="inittapp-progress" md-mode="indeterminate"></md-progress-linear>
    <div class="absolute-centered">
        <h1 class="welcome-title md-title">GESTMINT</h1>
        <h2 class="welcome-subtitle md-subhead">Gestor para comercios minoristas.</h2>
    </div>
    <span class="feedback-label">{{feedbackMessage}}</span>
</md-content>