<md-dialog aria-label="Phonecharge" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Carga Telefónica</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="ion-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="phonecharge-content">
        <form id="phonecharge" name="phonecharge">
            <div layout-gt-sm="row">
                <md-input-container>
                    <label>Número de teléfono</label>
                    <input type="text" id="phoneNumber" required="true" name="phoneNumber" ng-model="phone.phoneNumber" maxlength="20" ng-virtual-keyboard="{kt: 'numeric_int', size:5}" />
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container>
                    <label>Monto</label>
                    <input type="text" id="amount" required="true" name="amount" ng-model="phone.amount" maxlength="4" ng-virtual-keyboard="{kt: 'numeric_int', size:5}" />
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="doc-type-field" flex>
                    <select id="company" name="company" required="true" ng-model="phone.company">
                         <option value="0">CLARO</option>
                         <option value="1">MOVISTAR</option>
                         <option value="2">PERSONAL</option>
                    </select>
                </md-input-container>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-fab md-primary add-button" ng-disabled="!phonecharge.$valid" ng-click="showCheckoutPopup()">
            <i class="ion-checkmark add-icon"></i>
        </md-button>
    </md-dialog-actions>
</md-dialog>