<md-content layout-padding="" class="account-tab-contents tab-contents">
    <h1>{{user.store.name}}</h1>
    <h3 ng-class="{hidden: !user}">Caja: {{user.account.balance | currency}}</h3>
    <md-button class="md-raised md-warn logout-button" ng-click="logout($event)">
        <div class="icon-button-label">CERRAR SESIÓN</div>
    </md-button>
</md-content>