<md-content layout-padding="" class="login-content full-size">
    <md-progress-linear class="inittapp-progress" md-mode="indeterminate" ng-hide="!loading"></md-progress-linear>
    <form name="loginForm" class="login-form absolute-centered">
        <div layout-gt-sm="row">
             <h3 class="md-title">GESTMINT - LOGIN</h3>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm="">
                <label>Nombre de Usuario</label>
                <input required="true" name="name" ng-model="user.name" maxlength="30" ng-virtual-keyboard="{relative: false, size:5}">
                <div ng-messages="loginForm.name.$error">
                    <div ng-message="required">Debe introducir nombre de usuario.</div>
                </div>
            </md-input-container>           
        </div>
        <div layout-gt-sm="row">
             <md-input-container class="md-block" flex-gt-sm="">
                <label>Contraseña</label>
                <input name="password" ng-model="user.password" required="true" minlength="3" maxlength="20" type="password" ng-virtual-keyboard="{relative: false, size:5}">
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">
                        Debe introducir contraseña.
                    </div>
                </div>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
             <md-button class="md-raised md-primary" ng-click="enterButton($event)" ng-disabled="!loginForm.$valid">Entrar</md-button>
        </div>
    </form>
</md-content>