<md-content class="full-size over-hidden">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab>
            <md-tab-label>
                <div class="tab-icon ion-card"></div>
                <div class="tab-label-text">Venta</div>
                <div class="tab-click-colider full-size absolute-centered" ng-click="goToState('tabs.sale')"></div>
            </md-tab-label>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <div class="tab-icon ion-ios-barcode"></div>
                <div class="tab-label-text">Productos</div>
                <div class="tab-click-colider full-size absolute-centered" ng-click="goToState('tabs.products')"></div>
            </md-tab-label>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <div class="tab-icon ion-arrow-swap"></div>
                <div class="tab-label-text">Transacciones</div>
                <div class="tab-click-colider full-size absolute-centered" ng-click="goToState('tabs.transactions')"></div>
            </md-tab-label>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <div class="tab-icon ion-person"></div>
                <div class="tab-label-text">Cuenta</div>
                <div class="tab-click-colider full-size absolute-centered" ng-click="goToState('tabs.account')"></div>
            </md-tab-label>
        </md-tab>
    </md-tabs>
    <div ui-view class="tabs-container"></div>
    <h4 class="date-and-hour">{{dateAndHour | date:'medium'}}</h4>
    <md-button class="md-icon-button shutdown-buttons" aria-label="Edit" ng-click="showSutdownPopup($event)">
        <i class="ion-power product-list-item-icon"></i>
    </md-button>
</md-content>